div.footer
	div.bottom_logo
	p.foot_healthywarn
		span 抵制不良游戏
		span 拒绝盗版游戏
		span 注意自我保护
		span 谨防上当受骗
		span 适度游戏益脑
		span 沉迷游戏伤身
	p.foot_copyright 经营许可证编号：
		a(href="images/ICP.jpg",target="_blank") 沪 B2-20120089
		a(href="images/wwwimg.jpg",target="_blank") 沪网文[2012]0078-012
		a(href="http://www.game080.com",target="_blank") 上海寅酷网络游戏公司
		em 版权所有
	p.foot_contacts TEL:(021)50213116	FAX:(021)50213113	E-mail:kefu@game080.com
	p.foot_address 地址：上海市浦东新区商城路618号19楼