meta(name="keywords",content="《王侯将相》是由寅酷游戏2013年度自主开发的一款3D战国名将搏杀类网游，游戏突破传统网游开发理念，创新性的融合名将养成与史诗战役副本两大创新系统，以华丽震撼的视觉特效，接近史实的世界观设定；串联战国时期诸侯争霸的诸多战役与历史人物，力图为玩家带来最为真实的游戏体验。")
title= title
meta(http-equiv="Content-Type",content="text/html; charset=gb2312")
link(rel="shortcut icon",href="images/ico/main.ico",type="image/x-icon")
link(rel="icon",href="images/ico/main.ico",type="image/x-icon")
link(href="stylesheets/main.css",rel="stylesheet",type="text/css")