script(src="javascripts/plugins/jquery-1.10.2.min.js",type="text/javascript")
script(src="javascripts/main.js",type="text/javascript")
case nav
	when "index"
		script(src="javascripts/index.js",type="text/javascript")
	when "mediacenter"
		script(src="javascripts/plugins/jquery.transform2d.js",type="text/javascript")
		script(src="javascripts/mediacenter_ef.js",type="text/javascript")
	when "gamedata_hero"
		script(src="javascripts/gamedata_hero.js",type="text/javascript")
	when "login"
		script(src="javascripts/plugins/jquery.validate.min.js",type="text/javascript")
		script(src="javascripts/plugins/jquery.form.js",type="text/javascript")
		script(src="javascripts/login.js",type="text/javascript")
//if IE 6
	script(src="javascripts/DD_belatedPNG_0.0.8a-min.js",type="text/javascript")
	script(type="text/javascript")
		DD_belatedPNG.fix('.main_c_sptop_bg ,.main_cp_leftcorner ,.main_cp_rightcorner ,.main_cn_nav ,.news_bd_sc_imgs b ,.news_h2tit ,.news_list_tit ,.news_bd_sc_select b ,.news_bd_sc_imgsclp img');