extends layout

block content
	body
		//top.jade
		include includes/top
		div.gd_hero_wrapper
			div.gd_hero_maincon_wp.clearfix
				div.gd_hero_sp_wp
					div.gd_hero_dbtab_wp
						ul.gd_hero_dbtab
							li(style="display:block;")
								img(src="images/hero_xy.jpg",width="1070",height="710")
							li
								img(src="images/hero_gz.jpg",width="1070",height="710")
							li
								img(src="images/hero_hx.jpg",width="1070",height="710")
							li
								img(src="images/hero_lm.jpg",width="1070",height="710")
							li
								img(src="images/hero_td.jpg",width="1070",height="710")
							li
								img(src="images/hero_lb.jpg",width="1070",height="710")
							li
								img(src="images/hero_sb.jpg",width="1070",height="710")
							li
								img(src="images/hero_llb.jpg",width="1070",height="710")
							li
								img(src="images/hero_bq.jpg",width="1070",height="710")
						div.gd_hero_activity
							a(href="#")
								img(src="images/gd_hero_activity.png",width="377",height="165")
					div.gd_hero_nav_wp
						div.gd_hero_nav_list
							ul
								li.active
									img(src="images/gd_hero_xyhead.gif",width="128",height="128")
									b
								li
									img(src="images/gd_hero_gzhead.gif",width="128",height="128")
									b
								li
									img(src="images/gd_hero_hxhead.gif",width="128",height="128")
									b
								li
									img(src="images/gd_hero_lmhead.gif",width="128",height="128")
									b
								li
									img(src="images/gd_hero_tdhead.gif",width="128",height="128")
									b
								li
									img(src="images/gd_hero_lbhead.gif",width="128",height="128")
									b
								li
									img(src="images/gd_hero_sbhead.gif",width="128",height="128")
									b
								li
									img(src="images/gd_hero_llbhead.gif",width="128",height="128")
									b
								li
									img(src="images/gd_hero_bqhead.gif",width="128",height="128")
									b
						b.prev
						b.next
				//foot.jade
				include includes/foot
		//include scripts
		include includes/scripts