extends layout

block content
	body
		//top.jade
		include includes/top
		div.main_general_logo
			div.main_c_logo_wp
				h1.main_c_logo(title="王侯将相") 王侯将相
		div.news_bd_wrapper
			div.gamedetail_main_wp
				div
					div.gamedetail_ms_hd
						h2.gamedetail_tit 视听盛宴>>
						ul.gamedetail_ms_nav
							li.main_btn.active
								a(href="javascript:;") 全部
							li.video_btn
								a(href="javascript:;") 视频欣赏
							li.snapshot_btn
								a(href="javascript:;") 游戏壁纸
							li.mmplayer_btn
								a(href="javascript:;") 游戏原画
					div.gamedetail_mediashow
						div.video
							img(src="images/hero_xy.jpg",width="482",height="282")
						div.video
							img(src="images/main_logo_png8.png",width="482",height="282")
						div.video
							img(src="images/main_logo_png8.png",width="482",height="282")
						div.video
							img(src="images/main_logo_png8.png",width="482",height="282")
						div.video
							img(src="images/main_logo_png8.png",width="482",height="282")
						div.snapshot
							img(src="images/main_logo_png8.png",width="152",height="86")
						div.snapshot
							img(src="images/main_logo_png8.png",width="152",height="86")
						div.snapshot
							img(src="images/main_logo_png8.png",width="152",height="86")
						div.snapshot
							img(src="images/main_logo_png8.png",width="152",height="86")
						div.snapshot
							img(src="images/main_logo_png8.png",width="152",height="86")
						div.snapshot
							img(src="images/main_logo_png8.png",width="152",height="86")
						div.mmplayer
							img(src="images/main_logo_png8.png",width="317",height="184")
						div.mmplayer
							img(src="images/main_logo_png8.png",width="317",height="184")
						div.mmplayer
							img(src="images/main_logo_png8.png",width="317",height="184")
						div.mmplayer
							img(src="images/main_logo_png8.png",width="317",height="184")
						div.mmplayer
							img(src="images/main_logo_png8.png",width="317",height="184")
						div.mmplayer
							img(src="images/main_logo_png8.png",width="317",height="184")
						div.mmplayer
							img(src="images/main_logo_png8.png",width="317",height="184")
						div.mmplayer
							img(src="images/main_logo_png8.png",width="317",height="184")
						div.mmplayer
							img(src="images/main_logo_png8.png",width="317",height="184")
						div.mmplayer
							img(src="images/main_logo_png8.png",width="317",height="184")
						div.mmplayer
							img(src="images/main_logo_png8.png",width="317",height="184")
						div.mmplayer
							img(src="images/main_logo_png8.png",width="317",height="184")
			include includes/foot
		include includes/scripts